In [1]:
import os

# 建立项目根目录
os.makedirs("/content/project/data/raw", exist_ok=True)
os.makedirs("/content/project/data/processed", exist_ok=True)
os.makedirs("/content/project/notebooks", exist_ok=True)

print("Folders created.")

Folders created.

In [3]:
!curl -L http://davidcard.berkeley.edu/data_sets/njmin.zip -o /content/project/data/raw/njmin.zip
!unzip -o /content/project/data/raw/njmin.zip -d /content/project/data/raw

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   178  100   178    0     0   1763      0 --:--:-- --:--:-- --:--:--  1780
100 23017  100 23017    0     0  50479      0 --:--:-- --:--:-- --:--:-- 75963
Archive:  /content/project/data/raw/njmin.zip
  inflating: /content/project/data/raw/check.sas
  inflating: /content/project/data/raw/codebook
  inflating: /content/project/data/raw/public.dat
  inflating: /content/project/data/raw/read.me
  inflating: /content/project/data/raw/survey1.nj
  inflating: /content/project/data/raw/survey2.nj

In [4]:
import pandas as pd

file_path = "/content/project/data/raw/public.dat"

# 老师示例（minimal ingestion）
col_specs = [(0,3),(4,6),(7,10)]
col_names = ["STORE_ID","STATE","EMP_WAVE1"]

df = pd.read_fwf(file_path,
                 colspecs=col_specs,
                 names=col_names)

df.head()

   STORE_ID  STATE  EMP_WAVE1
0        46      1          0
1        49      2          0
2       506      2          0
3        56      4          0
4        61      4          0

In [5]:
df.to_csv("/content/project/data/processed/public_minimal_processed.csv",
          index=False)

print("saved.")

saved.

In [6]:
readme = """
# Card & Krueger (1994) Replication

## Track
Causal Policy Track (Difference-in-Differences)

## Paper
Card, D. & Krueger, A.B. (1994)
Minimum Wages and Employment

## Data Source
http://davidcard.berkeley.edu/data_sets/njmin.zip

## Project Structure
- data/raw : original files
- data/processed : cleaned output
- notebooks : analysis notebook

## Phase 1
Successfully loaded public.dat using pandas.read_fwf()
"""

with open("/content/project/README.md","w") as f:
    f.write(readme)

print("README created.")

README created.